#
# GIT Ignore
#
# * Version: 1.0.2
#

.tmp/*
.var/*

# VScode
.vscode
*.code-workspace

# Builds for prod/dev/test
build/*

# Dev libs. Dynamic content update at dev time
lib/*

# Secrets
.secrets

# Local variables
.local

#
# Project specific exclusions
#

# Keep placeholder for empty directories
!/**/.gitkeep
